
.SelectedSidebarText{
    color: #0078D7;
    flex: 0.9;
    font-size: 14px; 
    padding-left: 10px;
}
.UnselectedSidebarText{
    color: black;
    flex: 0.9;
    font-size: 14px;
    padding-left: 10px;
}

.SelectedColor{
  color: #0078D7;
  font-size: 14px;
}

.UnSelectedColor{
  font-size: 14px;
}

.Sidebar{
    background-color: #F4F4F4;
  }

.TextNewCategory {
   margin: 10px; 
   font-size: 14px;
   padding-left: 8px;
   color: #0078D7;
}  

.inputCategory {
    border: 0;
    outline: 0;
    margin: 10px;
    background-color: #FAFAFA;
    font-size: 14px;
    width: 100%;
    padding: 8px;
  }

  .rowC {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.categorylogo{
  width: 10px;
  height: 10px;
}
  