
.Sidebar{
    background-color: #F4F4F4;
    padding: 10px;
    height: 100%;
  }

.rowCA {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    background-color: white;
}
  
.descriptionlable{
    margin:10px;
}
  
.descriptionlablewithcolor{
    margin-top:10px;
    margin-bottom: 10px;
    color: #0078D7;
  
}

.descriptionlablewithcolorStrike{
    margin-top:10px;
    margin-bottom: 10px;
    color: #0078D7;
    text-decoration: line-through; 
}
  
.inputDescription {
    border: 0;
    outline: 0;
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .divmargintop{
      margin-top: 10px;
  }

  .whitebackground{
      background-color: white;
      padding: 10px;
  }

  .divmarginwithflex{
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
  }

  .divmarginwithflexSelected{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .inputstep {
    border: 0;
    outline: 0;
    font-size: 14px;
    padding-left: 10px;
  }

  .divmargin{
    margin: 10px;
}

  .addstepimage{
    width: 20px;
    height: 20px;
  }

  .greycircletheme {
    width: 19px;
    height: 19px;
    margin-left: 5px;
  }
  
.steplablewithcolor{
    color: #0078D7;
    margin-top: 8px;
    font-size: 14px; 
}

.stepholder{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.stepname{
  flex: 0.6;
  margin-top: 10px;
  margin-left: 10px;
}

.stepclose {
  flex: 0.2;
}

.marginten{
  margin: 5px;
  font-size: 14;
}

.addstepimagewithflex{
  flex: 0.2;
  width: 20px;
  height: 20px;
}

.holderdivpadding {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap; 
}

.holderdivStepPaddding {
   margin-left: 15px;
   margin-bottom: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;

}

.holdetStepNamePadding {
  flex:0.9;
  margin-left: 10px;
}