
.rowC {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    border-bottom: 2px solid #F4F4F4;
}

.rowCBottomSelected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  margin-top: 10px;
  border-bottom: 2px solid #0078D7;
}

.rowCSelected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  background-color:#F4F6FF  ;
  border-bottom: 1px solid #F4F4F4;
}

.rowchildTwo {
    flex: 0.9;
    padding-left: 8px;
  }

  .TextNewCategory {
    margin: 10px; 
    font-size: 14px;
    color: #0078D7;
  }

  .TaskContainer{
    padding: 10px;
    height: 100%;
  }

  .TextSize{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0078D7;
  }
  
  .TextNewSize{
    font-size: 14px;
    color: #0078D7;
    padding-left: 10px;
  }

  .input {
    border: 0;
    outline: 0;
    flex: 0.8;
    padding: 8px;
    font-size: 14px;
  }
  
  .crossed-line {
    text-decoration: line-through;
    flex: 0.9;
    padding-left: 8px;
}

.Logo{
  width: 20px;
  height: 20px;
}